<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" colors="true" cacheDirectory=".phpunit.cache">
  <coverage/>
  <testsuites>
    <testsuite name="leilao-test">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <!-- <testdoxText outputFile="log-tests.html"/> -->
    <testdoxText outputFile="log-tests.txt"/>
  </logging>
</phpunit>
